###### Python ######
backend/.env
backend/__pycache__/
backend/.venv/
backend/*.egg-info/
backend/4.1.0

###### Node ######
web-app/node_modules/
web-app/dist/

###### C# ######
windows-client/KConnect/bin/
windows-client/KConnect/obj/
*/.idea/
*/.vs/
*.user

###### General ######
# OS Junk
.DB_Store
Thumbs.db
*.db