########################
#### DB AND HOSTING ####
########################
# Change this to your Database Url
# If using postgresql, the format is: postgresql://username:password@host:port/database_name
# If using sqlite, the format is: sqlite:///path_to_your_database.db
# If using mysql, the format is: mysql://username:password@host:port/database_name
DATABASE_URL=postgresql://username:password@host:port/database_name

# Change this to your Redis Url
# Format: redis://host:port
# If authentication is required: redis://username:password@host:port
# If using a Redis Database Index: redis://host:port/database_number
REDIS_URL=redis://host:port

#############################
#### SECRETS AND HASHING ####
#############################
# Change this to a strong secret key for your application. Recommended approach:
## C:\Users\Karlo Cavlovic>py
## Python 3.14.5 (tags/v3.14.5:5607950, May 10 2026, 10:43:50) [MSC v.1944 64 bit (AMD64)] on win32
## Type "help", "copyright", "credits" or "license" for more information.
## >>> import secrets
## >>> print(secrets.token_urlsafe(32))
## ObS-3cNOGULr9L2EsSqjfNrp1rnGopOf4YQWU5Xl_q8
## >>> exit()
## C:\Users\Karlo Cavlovic>
# Use this approach to generate a strong secret key and replace the value below
SECRET_KEY=SomeStrongKey123

# Set your hasing algorithm for JWT tokens.
# Common choice is H256
# Available choices: HS256, HS384, HS512
ALGORITHM=HS256

# Set the expiration time for access tokens in minutes
ACCESS_TOKEN_EXPIRE_MINUTES=30

#############################
#### RESEND EMAIL API ####
#############################
# Change this to your personal Resend API Key.
# Get it from https://resend.com/api-keys
RESEND_API_KEY=re_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Change this to the email address you want to use as the sender mail for your application emails
# Make sure to create the according DNS records on your cloudflare dashboard (or other portal)
# Refer to resend's documentation for more details: https://resend.com/docs/add-a-domain#add-a-domain
EMAIL_FROM=no-reply@your-domain.com
